name: Publish to pub.dev

# How to release a new version:
# 1. Bump all pubspec.yaml versions and the changelogs
# 2. Push a new tag (e.g. "git tag v1.2.3 && git push origin v1.2.3")
# 3. The "publish" jobs will automatically publish the package to pub.dev
# 4. The "release" job will automatically create a release draft on GitHub

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' # tag-pattern on pub.dev: 'v1.2.3'

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  publish_slang:
    uses: slang-i18n/slang/.github/workflows/publish_template.yml@main
    with:
      working-directory: slang
  publish_slang_flutter:
    needs: [publish_slang]
    uses: slang-i18n/slang/.github/workflows/publish_template.yml@main
    with:
      working-directory: slang_flutter
  publish_slang_build_runner:
    needs: [publish_slang]
    uses: slang-i18n/slang/.github/workflows/publish_template.yml@main
    with:
      working-directory: slang_build_runner
